@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

footer {
  justify-self: end;
  bottom: 0; }

.iconos {
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem;
  padding: 0rem, 1rem, 0rem, 1rem; }

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.mainIndex {
  width: 100vw; }
  .mainIndex section h1 {
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    background-color: black;
    padding: .5rem; }
  .mainIndex .banner {
    width: 100%;
    min-height: 21.875rem; }
    .mainIndex .banner #carouselExample {
      width: 100%;
      height: auto;
      margin-bottom: 2rem; }
      .mainIndex .banner #carouselExample .carousel-inner {
        width: 100vw;
        height: 21.875rem; }
        .mainIndex .banner #carouselExample .carousel-inner .publi1 {
          width: 100vw;
          height: 21.875rem;
          display: flex;
          flex-direction: row;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          align-items: center;
          justify-items: center;
          justify-content: space-around;
          background-color: #efefef; }
          .mainIndex .banner #carouselExample .carousel-inner .publi1 .infoP {
            width: 15.625rem;
            height: auto; }
            .mainIndex .banner #carouselExample .carousel-inner .publi1 .infoP .tituloBanner {
              font-size: 1.5rem;
              font-weight: 300; }
            .mainIndex .banner #carouselExample .carousel-inner .publi1 .infoP .logoTow {
              width: 26.75rem;
              height: auto; }
              .mainIndex .banner #carouselExample .carousel-inner .publi1 .infoP .logoTow img {
                width: 50%;
                height: auto; }
            .mainIndex .banner #carouselExample .carousel-inner .publi1 .infoP .subtBanner {
              font-size: .75rem;
              font-weight: 300; }
          .mainIndex .banner #carouselExample .carousel-inner .publi1 .bolsasTow {
            width: 15.625rem;
            height: auto; }
            .mainIndex .banner #carouselExample .carousel-inner .publi1 .bolsasTow img {
              width: 100%;
              height: auto; }
      .mainIndex .banner #carouselExample div {
        width: 100vw;
        height: auto; }
        .mainIndex .banner #carouselExample div .publi2 {
          width: 100vw;
          height: 25rem;
          display: flex;
          flex-direction: column;
          padding: 2rem; }
          .mainIndex .banner #carouselExample div .publi2 .tituloPubli2 {
            font-size: 1.5rem;
            font-weight: 300;
            text-align: start; }
          .mainIndex .banner #carouselExample div .publi2 .ferProd {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center; }
            .mainIndex .banner #carouselExample div .publi2 .ferProd img {
              width: 30%;
              height: auto;
              margin-left: 1rem;
              margin-right: 1rem; }
          .mainIndex .banner #carouselExample div .publi2 .logoFer {
            width: 100%;
            justify-content: end; }
            .mainIndex .banner #carouselExample div .publi2 .logoFer img {
              width: 25%;
              height: auto;
              justify-self: end; }
      .mainIndex .banner #carouselExample div {
        width: 100vw;
        height: auto; }
        .mainIndex .banner #carouselExample div .publi3 {
          width: 100vw;
          height: 25rem;
          padding: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          background-color: #efefef; }
          .mainIndex .banner #carouselExample div .publi3 .personaje {
            width: 18.75rem;
            height: auto; }
            .mainIndex .banner #carouselExample div .publi3 .personaje img {
              width: 100%;
              height: auto;
              align-self: baseline; }
          .mainIndex .banner #carouselExample div .publi3 .infoP3 {
            width: 50%;
            height: auto; }
            .mainIndex .banner #carouselExample div .publi3 .infoP3 .tituloPubli3 {
              font-size: 1.5rem;
              font-weight: 400;
              text-align: center; }
            .mainIndex .banner #carouselExample div .publi3 .infoP3 .logoNobivac {
              width: 26.75rem;
              height: auto; }
              .mainIndex .banner #carouselExample div .publi3 .infoP3 .logoNobivac img {
                width: 50%;
                height: auto; }
            .mainIndex .banner #carouselExample div .publi3 .infoP3 .subtPubli3 {
              font-size: .75rem;
              font-weight: 300;
              text-align: center; }
  .mainIndex .recomendados {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; }
    .mainIndex .recomendados h2 {
      width: 100%;
      height: auto;
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center; }
    .mainIndex .recomendados .productos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 128px;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      overflow: hidden;
      gap: 1rem;
      /*
            width: 100%;
            height: auto;
            margin: 2rem;
            display: flex;
            flex-direction: row;            
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: 1,1fr;
            justify-content: center;
            justify-content: space-between;
            align-content: center;
            align-items: center;*/ }
      .mainIndex .recomendados .productos div {
        scroll-snap-align: center;
        margin: 1rem;
        width: 6.875rem;
        height: 6.875rem;
        align-items: center;
        align-content: center; }
        .mainIndex .recomendados .productos div .item {
          width: 100%;
          height: auto;
          align-self: center;
          align-content: center; }
  .mainIndex .noticias {
    width: 100vw;
    height: auto; }
    .mainIndex .noticias h2 {
      width: 100%;
      height: auto;
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center; }
    .mainIndex .noticias .articulos {
      width: 100%;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      min-width: fit-content;
      height: 21.875rem;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      gap: 15px;
      justify-content: space-around; }
      .mainIndex .noticias .articulos .nota1 {
        width: 30%;
        height: 18.75rem;
        position: relative;
        scroll-snap-align: center;
        margin: .5rem;
        border-radius: 1.5625rem;
        background-image: url(https://www.mascotasanasydivertidas.com/wp-content/uploads/sites/12/2022/04/image5-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        align-content: end; }
        .mainIndex .noticias .articulos .nota1 h3 {
          margin-inline: .5rem;
          padding-top: 1rem;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          color: ghostwhite; }
      .mainIndex .noticias .articulos .nota2 {
        width: 30%;
        height: 18.75rem;
        margin: .5rem;
        border-radius: 1.5625rem;
        background-image: url(https://images.unsplash.com/photo-1627666889380-fb66b4a14993?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        align-content: end; }
        .mainIndex .noticias .articulos .nota2 h3 {
          margin-inline: .5rem;
          padding-top: 1rem;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          color: ghostwhite; }
      .mainIndex .noticias .articulos .nota3 {
        width: 30%;
        height: 18.75rem;
        margin: .5rem;
        border-radius: 1.5625rem;
        background-image: url(https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        align-content: end; }
        .mainIndex .noticias .articulos .nota3 h3 {
          margin-inline: .5rem;
          padding-top: 1rem;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          color: ghostwhite; }

.mainAlimentosP h1 {
  text-align: center;
  text-decoration: none;
  color: ghostwhite;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: black;
  padding: .5rem; }

.mainAlimentosP .contenidoAp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .mainAlimentosP .contenidoAp .mainFiltro {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    grid-area: mainFiltro; }
    .mainAlimentosP .contenidoAp .mainFiltro p {
      width: 12.5rem;
      padding: .5rem;
      margin-left: 1.5rem;
      background-color: black;
      color: ghostwhite;
      font-size: .75rem;
      font-weight: 400;
      text-decoration: none; }
    .mainAlimentosP .contenidoAp .mainFiltro .mainFiltroop {
      padding-left: .5rem;
      margin-left: 1.5rem;
      width: 12.5rem;
      display: flex;
      flex-direction: column;
      border: black;
      border-width: .125rem;
      border-style: solid; }
      .mainAlimentosP .contenidoAp .mainFiltro .mainFiltroop div label {
        color: black;
        font-size: .75rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0; }

.mainAlimentosP .alimentosPerros {
  margin: 1rem;
  margin-right: 1.5rem;
  width: 64.9375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: .5rem; }

.mainAlimentosP .alimPerro1 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro1 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro1 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro1 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro1 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro1 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro1 .infoProd2 {
    margin-inline: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro1 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro1 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro1 .infoProd2 button {
      background-color: white;
      border: none; }

.mainAlimentosP .alimPerro2 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro2 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro2 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro2 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro2 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro2 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro2 .infoProd2 {
    margin-inline: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro2 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro2 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro2 .infoProd2 button {
      background-color: white;
      border: none; }

.mainAlimentosP .alimPerro3 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro3 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro3 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro3 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro3 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro3 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro3 .infoProd2 {
    margin-inline: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro3 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro3 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro3 .infoProd2 button {
      background-color: white;
      border: none; }

.mainAlimentosP .alimPerro4 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro4 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro4 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro4 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro4 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro4 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro4 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro4 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro4 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro4 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro4 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro5 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro5 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro5 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro5 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro5 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro5 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro5 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro5 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro5 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro5 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro5 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro6 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro6 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro6 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro6 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro6 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro6 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro6 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro6 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro6 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro6 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro6 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro7 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro7 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro7 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro7 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro7 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro7 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro7 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro7 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro7 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro7 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro7 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro8 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro8 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro8 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro8 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro8 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro8 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro8 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro8 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro8 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro8 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro8 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro9 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro9 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro9 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro9 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro9 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro9 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro9 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro9 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro9 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro9 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro9 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro10 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro10 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro10 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro10 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro10 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro10 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro10 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro10 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro10 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro10 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro10 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro11 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro11 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro11 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro11 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro11 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro11 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro11 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro11 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro11 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro11 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro11 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainAlimentosP .alimPerro12 {
  width: 20.8125rem;
  height: 26.625rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainAlimentosP .alimPerro12 a {
    width: 20rem;
    height: auto; }
    .mainAlimentosP .alimPerro12 a img {
      width: 100%; }
  .mainAlimentosP .alimPerro12 .infoProd1 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainAlimentosP .alimPerro12 .infoProd1 p {
      font-size: .875rem;
      font-weight: 400; }
    .mainAlimentosP .alimPerro12 .infoProd1 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
  .mainAlimentosP .alimPerro12 .infoProd2 {
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .mainAlimentosP .alimPerro12 .infoProd2 p {
      font-size: .75rem;
      font-weight: 400;
      align-self: baseline; }
    .mainAlimentosP .alimPerro12 .infoProd2 select {
      border: unset;
      font-size: .75rem;
      align-self: baseline; }
    .mainAlimentosP .alimPerro12 .infoProd2 button {
      background-color: white;
      align-self: baseline;
      border: none;
      width: 1.5rem;
      height: 1.5rem; }
      .mainAlimentosP .alimPerro12 .infoProd2 button img {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center; }

.mainVet {
  width: 100vw; }
  .mainVet section h1 {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    background-color: black;
    padding: .5rem; }
  .mainVet .afiliate {
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 500;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center; }
  .mainVet .beneficios {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-content: space-between;
    gap: 1rem; }
    .mainVet .beneficios .beneficios1 {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mainVet .beneficios .beneficios1 div {
        margin-left: 1.5rem;
        margin-right: 1.5rem; }
        .mainVet .beneficios .beneficios1 div h2 {
          width: 100%;
          font-size: .875rem;
          font-weight: 400;
          color: ghostwhite;
          background-color: black;
          padding: .5rem;
          text-align: center; }
        .mainVet .beneficios .beneficios1 div p {
          margin-top: .5rem;
          font-size: .75rem;
          font-weight: 400;
          color: black;
          text-align: center;
          line-height: 1.25rem;
          padding: 1rem; }
    .mainVet .beneficios div {
      margin-left: 1.5rem;
      margin-right: 1.5rem; }
      .mainVet .beneficios div h2 {
        width: 100%;
        font-size: .875rem;
        font-weight: 400;
        color: ghostwhite;
        background-color: black;
        padding: .5rem;
        text-align: center; }
      .mainVet .beneficios div p {
        margin-top: .5rem;
        font-size: .75rem;
        font-weight: 400;
        color: black;
        text-align: center;
        line-height: 1.25rem;
        padding: 1rem; }
    .mainVet .beneficios div ul li {
      list-style: none;
      justify-content: center;
      margin-top: .5rem;
      font-size: .75rem;
      font-weight: 400;
      color: black;
      text-align: center;
      line-height: 1rem; }
  .mainVet .planes {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainVet .planes h2 {
      width: 100%;
      font-size: .875rem;
      font-weight: 400;
      color: ghostwhite;
      background-color: black;
      padding: .5rem;
      text-align: center; }
    .mainVet .planes .afiliaciones {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around; }
      .mainVet .planes .afiliaciones .mensual {
        width: 40%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .mainVet .planes .afiliaciones .mensual h3 {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          width: 100%;
          font-size: .875rem;
          font-weight: 400;
          color: ghostwhite;
          background-color: black;
          padding: .5rem;
          text-align: center; }
        .mainVet .planes .afiliaciones .mensual div {
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-between;
          font-size: .75rem;
          font-weight: 400; }
      .mainVet .planes .afiliaciones .anual {
        width: 40%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .mainVet .planes .afiliaciones .anual h3 {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          width: 100%;
          font-size: .875rem;
          font-weight: 400;
          color: ghostwhite;
          background-color: black;
          padding: .5rem;
          text-align: center; }
        .mainVet .planes .afiliaciones .anual div {
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-between; }
          .mainVet .planes .afiliaciones .anual div p {
            font-size: .75rem;
            font-weight: 400; }
  .mainVet .agendaConsulta {
    width: 100%;
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 500;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center; }

/*.mainVet{
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 6fr;
    grid-template-areas: 
    "breadcrum breadcrum breadcrum"
    "tituloPagina tituloPagina tituloPagina"
    "afiliate afiliate afiliate"
    "beneficios1 bonificaciones urgencias"
    "planes planes planes"
    "agendaConsulta agendaConsulta agendaConsulta";
    gap: 1.25rem;
}
h2{
    font-size: .875rem;
    font-weight: 400;
    color: ghostwhite;
    background-color: black;
    padding: .5rem;
    text-align: center;
}
.afiliate{
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 500;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: afiliate;
}
.beneficios1{
    margin-left: 1.5rem;
    grid-area: beneficios1;
}
.bonificaciones{
    grid-area: bonificaciones;
}
.urgencias{
    margin-right: 1.5rem;
    grid-area: urgencias;
}
.planes{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: planes;
}
.agendaConsulta{
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 300;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: agendaConsulta;
}

.beneficios1 p{
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.bonificaciones li{
    margin-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 1rem;
    list-style: none;
}
.urgencias p{
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes p{
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;

}
.afiliaciones{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categoriasPlan{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.mensual{
    width: 25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}
.anual{
    width:25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}*/
.mainEnvios {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .mainEnvios .tituloPagina h1 {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    background-color: black;
    padding: .5rem; }
  .mainEnvios .coordiEnvios {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    .mainEnvios .coordiEnvios img {
      width: 30%;
      height: auto;
      margin: 2rem; }

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  z-index: 2; }
  header nav {
    width: 100%;
    height: 6.875rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    header nav .menuHamburguesa {
      width: 3rem;
      height: 2.5rem;
      align-content: center;
      justify-items: center;
      justify-content: center; }
      header nav .menuHamburguesa a {
        width: 3.5rem;
        height: 2.5rem;
        justify-content: center;
        justify-items: center;
        align-content: center; }
        header nav .menuHamburguesa a img {
          width: 1.5rem;
          height: 1.5rem; }
      header nav .menuHamburguesa ul li {
        list-style: none; }
        header nav .menuHamburguesa ul li a {
          text-decoration: none;
          font-size: .75rem;
          font-weight: 300; }
    header nav .logoL {
      width: 70%;
      height: 6.875rem;
      align-content: center;
      justify-content: start; }
      header nav .logoL .logoLineal {
        width: 50%;
        height: auto;
        padding: 1rem; }
    header nav .navR {
      width: 30%;
      height: 6.875rem;
      align-content: center;
      align-items: center;
      justify-content: end; }
      header nav .navR .navR form {
        width: 17.875rem;
        height: 6.875rem; }
      header nav .navR .navR a {
        width: 20%;
        height: 6.875rem; }
        header nav .navR .navR a .navR a img {
          width: 100%;
          height: auto; }
  header .menuNav {
    width: 100%;
    height: auto;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: end; }
    header .menuNav .menuNav ul {
      width: 100%;
      height: auto; }
      header .menuNav .menuNav ul .menuNav ul li {
        list-style: none; }
        header .menuNav .menuNav ul .menuNav ul li .menuNav ul li a {
          text-decoration: none;
          color: black;
          font-size: 1rem;
          font-weight: 300; }

footer {
  width: 100vw;
  min-height: 9.375rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0px; }
  footer div {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    footer div a {
      width: 3rem;
      height: auto; }
      footer div a .isotipo {
        margin: 1rem;
        width: 100%; }
    footer div p {
      color: ghostwhite;
      font-size: .75rem;
      text-align: center;
      align-self: center; }
  footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer section .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: .3125rem .625rem;
      flex-wrap: wrap; }
      footer section .menu li {
        list-style: none; }
        footer section .menu li .menu-item {
          text-decoration: none;
          font-size: 1rem;
          color: ghostwhite;
          display: inline-block;
          margin: .3125rem .625rem;
          opacity: 0.3;
          transition: 0.3s; }
          footer section .menu li .menu-item .menu-item:hover {
            opacity: 1; }
    footer section .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: .625rem .3125rem;
      flex-wrap: wrap; }
      footer section .icons .icon-item {
        list-style: none; }
        footer section .icons .icon-item .icon {
          color: ghostwhite;
          width: 2rem;
          display: inline-block;
          margin: 0 .625rem;
          transition: 0.5s; }

.icon:hover {
  transform: translateY(-0.625rem); }

.breadcrum {
  margin-bottom: 1.5rem;
  width: 100vw;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: start; }
  .breadcrum a {
    color: black;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    padding-left: .5rem;
    align-self: center; }
  .breadcrum img {
    margin-left: .5rem;
    height: 1rem;
    width: 1rem; }
  .breadcrum p {
    color: black;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    padding-left: .5rem;
    align-self: baseline; }

@media (min-width: 1440px) {
  /*HEADER*/
  header {
    width: 100vw; }
    header header nav {
      width: 100;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header header nav .menuHamburguesa {
        display: none; }
      header header nav .logoL {
        width: 50%;
        height: 6.875rem;
        align-content: center;
        justify-content: start; }
        header header nav .logoL .logoLineal {
          width: 50%;
          height: auto;
          padding: 1rem; }
      header header nav .navR {
        width: 50%;
        height: 6.875rem;
        align-content: center;
        align-items: center;
        justify-content: end; }
        header header nav .navR .navR form {
          width: 80%;
          height: 6.875rem; }
        header header nav .navR .navR a {
          width: 20%;
          height: 6.875rem; }
          header header nav .navR .navR a .navR a img {
            width: 100%;
            height: auto; }
  /*FOOTER*/ }

@media (min-width: 740px) and (max-width: 1440px) {
  /*HEADER*/
  header {
    width: 100vw; }
  header nav {
    width: 100vw;
    height: 6.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header nav .menuHamburguesa {
      display: none; }
    header nav .logoL {
      width: 30%;
      height: 6.875rem;
      align-content: center;
      justify-content: start; }
      header nav .logoL .logoLineal {
        width: 100%;
        height: auto;
        padding: 1rem; }
    header nav .navR {
      width: 70%;
      height: 6.875rem;
      align-content: center;
      align-items: center;
      justify-content: end; }
      header nav .navR .navR form {
        width: 17.875rem;
        height: 6.875rem;
        justify-content: start;
        align-content: center; }
  /*FOOTER*/
  footer {
    height: 14.125rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .isotipo {
    margin: .5rem;
    width: 25%; }
  .art {
    margin: .5rem; }
  .art p {
    display: none; }
  /*MAIN INDEX*/
  .tituloBanner {
    font-family: "Roboto", sans-serif;
    font-size: .875rem; }
  .subTituloBanner {
    font-family: "Roboto", sans-serif;
    font-size: .375rem; }
  .towCanionWetlands {
    width: 25%;
    height: auto; }
  .towLogo {
    width: 50%;
    height: fit-content; }
  .banner {
    height: 11rem;
    justify-content: space-around;
    justify-content: center; }
  .productos {
    display: flex;
    height: 8rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow: hidden; }
  .item {
    overflow: hidden;
    margin: .5rem; }
  /*MAIN ENVIOS*/
  .mainEnvios {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainEnvios .tituloPagina h1 {
      width: 100vw;
      height: auto;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      color: ghostwhite;
      background-color: black; }
    .mainEnvios .coordiEnvios {
      width: 80%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem; } }

@media (min-width: 320px) and (max-width: 740px) {
  /*HEADER*/
  header {
    width: 100vw; }
  header nav {
    width: 100vw;
    height: 4.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header nav .menuHamburguesa {
      width: 10%;
      height: 4.25rem;
      justify-content: center;
      align-content: center;
      align-items: start; }
      header nav .menuHamburguesa .menuHamburguesa a {
        width: 1.5rem;
        height: 1.5rem; }
        header nav .menuHamburguesa .menuHamburguesa a .menuHamburguesa a img {
          width: 100%;
          height: auto; }
    header nav .logoL {
      width: 60%;
      height: 4.25rem;
      align-content: center;
      justify-content: center; }
      header nav .logoL .logoLineal {
        width: 100%;
        height: auto;
        justify-content: center; }
    header nav .navR {
      width: 30%;
      height: 4.25rem;
      align-items: center;
      align-content: center;
      justify-content: end; }
      header nav .navR .buscador {
        display: none; }
      header nav .navR .carrito {
        display: none; }
  header .menuNav {
    display: none; }
  /*FOOTER*/
  footer {
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .625rem; }
    footer div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      footer div a {
        width: 3rem;
        height: auto; }
        footer div a .isotipo {
          margin: .5rem;
          width: 100%; }
      footer div p {
        color: ghostwhite;
        font-size: .5625rem;
        text-align: center;
        align-self: center; }
    footer section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer section .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: wrap; }
        footer section .menu li {
          list-style: none; }
          footer section .menu li .menu-item {
            text-decoration: none;
            font-size: .75rem;
            color: ghostwhite;
            display: inline-block;
            opacity: 0.3;
            transition: 0.3s; }
            footer section .menu li .menu-item .menu-item:hover {
              opacity: 1; }
      footer section .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: wrap; }
        footer section .icons .icon-item {
          list-style: none; }
          footer section .icons .icon-item .icon {
            color: ghostwhite;
            width: 1.5rem;
            display: inline-block;
            margin: 0 .625rem;
            transition: 0.5s; }
  .icon:hover {
    transform: translateY(-0.625rem); }
  /*MAIN INDEX*/
  .mainIndex section h1 {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    background-color: white;
    justify-content: start;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: .5rem;
    text-align: left; }
  .tituloBanner {
    font-family: "Roboto", sans-serif;
    font-size: .625rem; }
  .subTituloBanner {
    font-family: "Roboto", sans-serif;
    font-size: .375rem; }
  .towCanionWetlands {
    width: 25%;
    height: fit-content; }
  .towLogo {
    width: 50%;
    height: fit-content; }
  .banner {
    height: 11rem;
    justify-content: space-around; }
  .productos {
    display: flex;
    height: 128px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow: hidden; }
    .productos div {
      width: 6.875rem;
      height: 6.875rem;
      position: relative;
      scroll-snap-align: center;
      overflow: hidden;
      margin: .5rem; }
      .productos div .item {
        width: 100%;
        height: auto; }
  /*MAIN VETERINARIA*/
  .mainVet .tituloPagina h1 {
    width: 100vw;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    background-color: white;
    color: black;
    padding-left: 1.5rem; }
  .mainVet .afiliate {
    background-color: #D62F38;
    font-size: .75rem;
    font-weight: 400;
    color: ghostwhite;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; }
  .mainVet .beneficios {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-content: space-between;
    gap: .5rem; }
    .mainVet .beneficios .beneficios1 {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mainVet .beneficios .beneficios1 div {
        margin-left: 1rem;
        margin-right: 1rem; }
        .mainVet .beneficios .beneficios1 div h2 {
          width: 100%;
          font-size: .75rem;
          font-weight: 400;
          color: ghostwhite;
          background-color: black;
          padding: .5rem;
          text-align: center; }
        .mainVet .beneficios .beneficios1 div p {
          margin-top: .5rem;
          font-size: .5625rem;
          font-weight: 400;
          color: black;
          text-align: center;
          line-height: .75rem; }
    .mainVet .beneficios div {
      margin-left: 1rem;
      margin-right: 1rem; }
      .mainVet .beneficios div h2 {
        width: 100%;
        font-size: .75rem;
        font-weight: 400;
        color: ghostwhite;
        background-color: black;
        padding: .5rem;
        text-align: center; }
      .mainVet .beneficios div p {
        margin-top: .5rem;
        font-size: .5625rem;
        font-weight: 400;
        color: black;
        text-align: center;
        line-height: 1rem; }
    .mainVet .beneficios div ul li {
      list-style: none;
      justify-content: center;
      margin-top: .5rem;
      font-size: .5rem;
      font-weight: 400;
      color: black;
      text-align: center;
      line-height: .75rem; }
  .mainVet .planes {
    margin-left: 1rem;
    margin-right: 1rem; }
    .mainVet .planes h2 {
      width: 100%;
      font-size: .75rem;
      font-weight: 400;
      color: ghostwhite;
      background-color: black;
      padding: .5rem;
      text-align: center; }
    .mainVet .planes .afiliaciones {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem; }
      .mainVet .planes .afiliaciones .mensual {
        width: 80%;
        justify-content: space-around; }
        .mainVet .planes .afiliaciones .mensual h3 {
          font-size: .75rem; }
        .mainVet .planes .afiliaciones .mensual p {
          font-size: .5625rem; }
      .mainVet .planes .afiliaciones .anual {
        width: 80%;
        justify-content: space-around; }
        .mainVet .planes .afiliaciones .anual h3 {
          font-size: .75rem;
          font-weight: 400; }
        .mainVet .planes .afiliaciones .anual p {
          font-size: .5625rem;
          font-weight: 400; }
  .mainVet .agendaConsulta {
    font-size: .75rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  /*MAIN ENVIOS*/
  .mainEnvios .tituloPagina h1 {
    width: 100vw;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    background-color: white;
    color: black;
    padding-left: 1.5rem; }
  .mainEnvios .coordiEnvios {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem; }
    .mainEnvios .coordiEnvios img {
      width: 80%;
      height: auto;
      margin: 1rem; } }
