@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*fuentes

font-family: "Roboto", sans-serif;

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
header{
    background-color: white;
    width: 100%;
    height: 14.0625rem;
    contain: content;
    display: flex;
    flex-direction: column;    
    position: sticky;
    top: 0px;
    /*ESTO ME QUEDA MAL*/
    }
    .barraSuperior{
        padding: 2.5rem 1rem 1.25rem 1rem;
        width: 100%;
        height: 9.375rem;
        background-color: black;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
        .logoCompleto{
            margin-left: 1.5rem;
            margin-top: 5rem;
            width: 50%;
            height: auto;
            align-self: center;
        }
        .superiorDer{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .buscador{
            background-color: ghostwhite;
            width: 17.5rem;
            height: 1.75rem;
            font-family: "Roboto", sans-serif;
            font-size: .875rem;
            padding: 1rem;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .buscador p{ 
            font-size: .875rem;
            font-weight: normal;
        }
        .buscador img{
            width: 1.5rem;
            height: 1.5rem;
        }
        .buscador input{
            border: none;
            background-color: ghostwhite;
            height: 1.75rem;
        }
        .iconos{
            width: 1.5rem;
            height: 1.5rem;
            margin: .5rem;
            padding: 0rem, 1rem, 0rem, 1rem;
        }
    .menuNav {
        width: 100%;    
        height: 4.6875rem;
    }
        .menuNav nav ul{ 
            width: 100%;
            list-style: none;
            text-decoration: none;
            display: flex;
            flex-direction: row-reverse;
            padding: 1rem 1rem 1rem 1rem;
        }
        .menuNav ul li a{
            display: inline-flex;
            color: black;
            text-decoration: none;    
            font-family: "Roboto", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            padding: 1.25rem;
        }
/*MEDIA QUERY*/


/*BREADCRUM*/

.breadcrum{
    margin: 1.5rem;
    width: 100%;
    height: 1.5rem;
    contain: content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrum a{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    padding-left: .5rem;
}
.breadcrum img{
    margin-left: .5rem;
    height: 1rem;
    width: 1rem;
}
.breadcrum p{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    padding-left: .5rem;
}

footer{
    background-color: black;
    width: 100%;
    contain: content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
    footer section{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        contain: content;
        align-items: start;
        align-content: center;
    }
    footer section article{
        margin: 1rem;
        width: 12.5rem;
        display: flex;
        flex-direction: column;
    }
    .logoCompletoFooter{
        margin: 1rem;
        width: 17.0625rem;
        height: auto;
    }
    footer article h4 {
        margin: .5rem;
        font-family: "Roboto", sans-serif;
        font-size: .875rem;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        color: ghostwhite;
    }
    footer article p{
        margin: .5rem;
        width: max-content;
        font-family: "Roboto", sans-serif;
        font-size: .875rem;
        font-weight: 200;
        text-decoration: none;
        text-align: center;
        color: ghostwhite;
    }

/*Hasta acá todos los html iguales*/

/*Se van a cambiar los H por p*/

/*MAIN INDEX*/
main{ 
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
main h1{
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: black;
    padding: .5rem;
}


/*1er sección*/
    .banner{
        margin-top: 1.6875rem;
        margin-bottom: 2.5rem;
        width: 100%;
        height: 25rem;
        background-color: #D9D9D9;
        contain: content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
        .banner div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .banner div img{
            margin: .5rem;
            width: 50%;
            height: auto;
        }
        .tituloBanner{
            margin-bottom: .5rem;
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 300;
            color: black;
        }
        .subTituloBanner{
            margin-top: .5rem;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: black;
        }
        .towCanionWetlands{
            margin: 1rem;
            height: 80%;
        }
        
/*subtitulos de secciones*/
        main section h2{
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 1rem;
        }

/*2da y 3ra sección*/
    .productos{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1,1fr;
        justify-content: center;
        align-items: center;
    }
    .item{
        width: 8rem;
        height: auto;
        padding: 1rem;
        margin: 1rem;
    }

/*4ta sección*/
    .articulos{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nota{
        height: 300px;
        width: 370px;
    }
    .nota h3{
        margin-inline: .5rem;
        padding: 1rem;
        padding-top: 1rem;
        height: 3rem;
        background-color: #5b5a5a;
        border-radius: 1.5625rem 1.5625rem 0 0;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        align-items: center;
        text-align: center;
        color: ghostwhite;
    }
    .nota p{
        margin-inline: .5rem;
        padding: 2rem;
        padding-top: 1.5rem;
        height: 250px;
        background-color: #5b5a5a;
        border-radius: 0 0 1.5625rem 1.5625rem;
        font-family: "Roboto", sans-serif;
        font-size: .875rem;
        font-weight: 300;
        align-content: top;
        text-align: center;
        color: ghostwhite;
    }


/*ACA TERMINA MAIN DE INDEX*/

/*MAIN ALIMENTOS*/
.mainAlimentos{
    width: 100%;
    height: 62.5rem;
    contain: content;
}
h1{
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: black;
    padding: .5rem;
}
.alimentos{
    contain: content;
    padding-left: 1.5rem;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.perros{
    margin: 1.5rem;
    width: 50%;
    height: 12.5rem;
    background-color: #D9D9D9;
    border: #5b5a5a;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    align-content: center;
    justify-content: center;
}
.perros a{
    color: #5b5a5a;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.gatos{    
    margin: 1.5rem;
    width: 50%;
    height: 12.5rem;
    background-color: #D9D9D9;
    border: #5b5a5a;
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    align-content: center;
    justify-content: center;

}
.gatos a{
    color: #5b5a5a;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

/*MAIN ALIMENTOS PERROS*/

.contenidoAp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainFiltro{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    grid-area: mainFiltro;
}
.mainFiltro p{
    width: 12.5rem;
    padding: .5rem;
    margin-left: 1.5rem;
    background-color: black;
    color: ghostwhite;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;    
}
.mainFiltroop{
    padding: .5rem;
    margin-left: 1.5rem;
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: black;
    border-width: .125rem;
    border-style: solid;
}
.mainFiltroop label{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    padding: .5rem;
}

.alimentosPerros{
    margin: 1rem;
    margin-right: 1.5rem;
    width: 64.9375rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-area: alimentosPerros;   
    gap: .5rem;
}
.alimPerro1{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro2{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro3{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro4{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro5{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro6{
    width: 20.8125rem;
    height: 26.625rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro7{
    width: 20.8125rem;
    height: 26.625rem;
    contain: content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro8{
    width: 20.8125rem;
    height: 26.625rem;
    contain: content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro9{
    width: 20.8125rem;
    height: 26.625rem;
    contain: content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro10{
    width: 20.8125rem;
    height: 26.625rem;
    border: black;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro11{
    width: 20.8125rem;
    height: 26.625rem;
    contain: content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.alimPerro12{
    width: 20.8125rem;
    height: 26.625rem;
    contain: content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}


.pngAlim{
    width: 20rem;
    height: auto;
    
}
.infoProd1{
    margin: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.infoProd2{
    margin-inline: .5rem;
    width: 20rem;
    height: 2.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
}
.agregarAcarrito{
    background-color: white;
    border: none;
}

/*MAIN VETERINARIA*/


.mainVet{
    width: 100%;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "breadcrumVeterinaria breadcrumVeterinaria breadcrumVeterinaria"
    "tituloPagina tituloPagina tituloPagina"
    "afiliate afiliate afiliate"
    "beneficios1 bonificaciones urgencias"
    "planes planes planes"
    "agendaConsulta agendaConsulta agendaConsulta";
    gap: 1.25rem;
}
.breadcrumVeterinaria{
    height: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: breadcrumVeterinaria;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumVeterinaria p{
    margin-left: .5rem;
}
.breadcrumVeterinaria a{
    margin-left: .5rem;
}
.breadcrumVeterinaria img{
    margin-left: .5rem;
    height: 1rem;
    width: 1rem;
}
.tituloPagina{
grid-area: tituloPagina;
}
.afiliate{
    background-color: #D62F38;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: afiliate;
}
.beneficios1{
    margin-left: 1.5rem;
    grid-area: beneficios1;
}
.bonificaciones{
grid-area: bonificaciones;
}
.urgencias{
    margin-right: 1.5rem;
grid-area: urgencias;
}
.planes{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
grid-area: planes;
}
.agendaConsulta{
    background-color: #D62F38;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: agendaConsulta;
}

.mainVet h2{
    font-family: "Roboto", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: ghostwhite;
    background-color: black;
    padding: .5rem;
    text-align: center;
}

.beneficios1 p{
    margin-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.bonificaciones li{
    margin-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 1rem;
    list-style: none;
}
.urgencias p{
    margin-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes p{
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;

}
.afiliaciones{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categoriasPlan{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.mensual{
    width: 25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}
.anual{
    width:25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

/*MEDIA QUERY*/

@media(min-width:1900px) and (max-width:2560px) {
    header{
        width: 100%;
    }
    .menuDesp{
        display: none;
    }
    .logoLineal{
        display:none;
    }
    .logoCompleto{
        width: 30%;
    }
    footer section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }
    .isotipo{
        width: 30%;
    }
}

@media(min-width:1200px) and (max-width:1900px) {
    header{
        width: 100%;
    }
    .menuDesp{
        display: none;
    }
    .logoLineal{
        display:none;
    }
    .logoCompleto{
        width: 40%;
    }
    footer section{
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    .isotipo{
        width: 40%;
    }
}

@media(min-width:1024px) and (max-width:1200px){
    .menuDesp{
        display: none;
    }
    .logoLineal{
        display:none;
    }
    .logoCompleto{
        width: 60%;
    }
    .item{
        overflow: hidden;
    }
    footer section{
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    .isotipo{
        width: 50%;
    }
    footer article{
        width: 5rem;
    }
}


@media(min-width:744px) and (max-width:1024px){
    .menuDesp{
        display: none;
    }
    .logoLineal{
        display:none;
    }
    .logoCompleto{
        width: 80%;
    }
    .productos{
        display: flex;
        height: 8rem;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: none;
        scroll-snap-type: x proximity;   
        overflow: auto;     
    }
    .articulos{
        height: 300px;
        min-width: 744px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        overflow: auto;
    }
.nota{
    height: 300px;
    min-width: 370px;
}
footer section{
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-around;
    contain: content;
}
footer article{
    width: 5rem;
}
.isotipo{
    width: 50%;
}
}




@media(min-width:480px) and (max-width: 744px){
    header{
        height: 4rem;
        width: 100%;
    }
    .barraSuperior{
        height: 4rem;
        width: auto;
        align-items: center;
        justify-content: space-around;
    }
    .logoCompleto{
        display: none;
    }
    .buscador{
        display: none;
    }    
    .logoLineal{
        height: 1.5625rem;
    }
    .menuNav{
        display: none;
    }

    /*MEDIA QUERY MAIN INDEX*/
    main h1{
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        background-color: white;
        justify-content: start;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: .5rem;
        text-align: left;
    }
    .towCanionWetlands{
        width: 20%;
        height: fit-content;
    }
    .banner div img{
        width: 60%;
        height: fit-content;
    }
    .banner{
        height: 11rem;
        justify-content: space-around;
    }
    .banner div{
        width: 50%;
    }
    .tituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
    }
    .subTituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .5625rem;
    }
    h2{
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
    .productos{
            display: flex;
            height: 8rem;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;  
            overflow: auto; 
    }
    .articulos{
        display: flex;
        height: 300px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: auto;
    }
    .nota{
        height: 300px;
        min-width: 370px;
    }
    footer section{
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2, 50%;
        align-items: center;
        justify-items: center;
        justify-content: center;
        justify-content: space-around;
        grid-template-areas: 
        "isotipo art1 art3"
        "isotipo art2 art4";
    }
        .isotipo{
            width: 80%;
            grid-area: isotipo;
        }
        .art1{
            width: 5rem;
            grid-area: art1;
        }
        .art2{
            width: 5rem;
            grid-area: art2;
        }
        .art3{
            width: 5rem;
            grid-area: art3;
        }
        .art4{
            width: 5rem;
            grid-area: art4;
        }

}

@media(min-width:320px) and (max-width:480px) {
    header{
        height: 4rem;
        width: 100%;
    }
    .barraSuperior{
        height: 4rem;
        width: auto;
        align-items: center;
        justify-content: space-around;
    }
    .logoCompleto{
        display: none;
    }
    .buscador{
        display: none;
    }    
    .logoLineal{
        height: 1.5625rem;
    }
    .menuNav{
        display: none;
    }
    main h1{
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        background-color: white;
        justify-content: start;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: .5rem;
        text-align: left;
    }
    .tituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .875rem;
    }
    .subTituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .375rem;
    }
    .towCanionWetlands{
        width: 25%;
        height: fit-content;
    }
    .banner div img{
        width: 60%;
        height: fit-content;
    }
    .banner{
        height: 11rem;
        justify-content: space-around;
    }
    .productos{
        display: flex;
        height: 8rem;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: auto;
}
    .articulos{
        display: flex;
        height: 300px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: auto;
    }
    .nota{
        height: 300px;
        min-width: 320;
        border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem; 
    }
    .nota h3{
        height: 300px;
        min-width: 320px;
        border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem; 
    }
    .nota p{
    display: none;
    }
    footer section article p{
        display: none;
    }
    footer section{
        margin-top: .5rem;
        margin-left: .5rem;
        margin-right: .5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-areas: 
        "isotipo art1 art3"
        "isotipo art2 art4";
        gap: .5rem;
    }
        .isotipo{
            width: 90%;
            grid-area: isotipo;
        }
        .art1{
            width: 5rem;
            grid-area: art1;
        }
        .art2{
            width: 5rem;
            grid-area: art2;
        }
        .art3{
            width: 5rem;
            grid-area: art3;
        }
        .art4{
            width: 5rem;
            grid-area: art4;
        }
    }
