.mainAlimentosP{
    h1{
        text-align: center;
        text-decoration: none;
        color: ghostwhite;
        font-size: 1.25rem;
        font-weight: 400;
        background-color: black;
        padding: .5rem;
    }
    .contenidoAp{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .mainFiltro{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        grid-area: mainFiltro;
        p{
            width: 12.5rem;
            padding: .5rem;
            margin-left: 1.5rem;
            background-color: black;
            color: ghostwhite;
            font-size: .75rem;
            font-weight: 400;
            text-decoration: none;    
        }
        .mainFiltroop{
            padding-left: .5rem;
            margin-left: 1.5rem;
            width: 12.5rem;
            display: flex;
            flex-direction: column;
            border: black;
            border-width: .125rem;
            border-style: solid;
            div{
                label{
                    color: black;
                    font-size: .75rem;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 0;
                } 
            }    
        }
    }
}





    .alimentosPerros{
        margin: 1rem;
        margin-right: 1.5rem;
        width: 64.9375rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12,1fr);  
        gap: .5rem;
    }

    .alimPerro1{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin-inline: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                border: none;
            }
        }    
    }

    .alimPerro2{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin-inline: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                border: none;
            }
        }    
    }

    .alimPerro3{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin-inline: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                border: none;
            }
        }    
    }

    .alimPerro4{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro5{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro6{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro7{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro8{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro9{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro10{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro11{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }

    .alimPerro12{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
                align-self: baseline;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                align-self: baseline;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    align-items: center;
                    align-content: center;
                }
            }
        }    
    }
}   