
.mainIndex{ 
    width: 100vw;
    section h1{
        width: 100%;
        height: auto;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        color: ghostwhite;
        background-color: black;
        padding: .5rem;
    } 
    .banner{
        width: 100%;
        min-height: 21.875rem;
        #carouselExample{
            width: 100%;
            height: auto;
            margin-bottom: 2rem;
            .carousel-inner{
                width: 100vw;
                height: 21.875rem;
                .publi1{
                    width: 100vw;
                    height: 21.875rem;
                    display: flex;
                    flex-direction: row;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    align-items: center;
                    justify-items: center;
                    justify-content: space-around;
                    background-color: #efefef;
                    .infoP{
                        width: 15.625rem;
                        height: auto;
                        .tituloBanner{
                            font-size: 1.5rem;
                            font-weight: 300;                    
                        }
                        .logoTow{
                            width: 26.75rem;
                            height: auto;
                            img{
                                width: 50%;
                                height: auto;
                            }
                        }
                        .subtBanner{
                            font-size: .75rem;
                            font-weight: 300;
                        }
                    }
                    .bolsasTow{
                        width: 15.625rem;
                        height: auto;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            div{
                width: 100vw;
                height: auto;
                .publi2{
                    width: 100vw;
                    height: 25rem;
                    display: flex;
                    flex-direction: column;
                    padding: 2rem;
                    .tituloPubli2{
                        font-size: 1.5rem;
                        font-weight: 300;
                        text-align: start;
                    }
                    .ferProd{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        img{
                            width: 30%;
                            height: auto;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                    }
                    .logoFer{
                        width: 100%;
                        justify-content: end;
                        img{
                            width: 25%;
                            height: auto;
                            justify-self: end;
                        }
                    }
                }
            }
            div{
                width: 100vw;
                height: auto;
                .publi3{
                    width: 100vw;
                    height: 25rem;
                    padding: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    background-color: #efefef;
                    .personaje{
                        width: 18.75rem;
                        height: auto;
                        img{
                            width: 100%;
                            height: auto;
                            align-self: baseline;
                        }
                    }
                    .infoP3{
                        width: 50%;
                        height: auto;
                        .tituloPubli3{
                            font-size: 1.5rem;
                            font-weight: 400;
                            text-align: center;
                        }
                        .logoNobivac{
                            width: 26.75rem;
                            height: auto;
                            img{
                                width: 50%;
                                height: auto;
                            }
                        }
                        .subtPubli3{
                            font-size: .75rem;
                            font-weight: 300;
                            text-align: center;
                        }
                    }
                }
            }        
        }
    } 
    .recomendados{
        width: 100%;
        height: auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        h2{
            width: 100%;
            height: auto;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }
        .productos{        
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 128px;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;   
            overflow: hidden;  
            gap: 1rem;
            /*
            width: 100%;
            height: auto;
            margin: 2rem;
            display: flex;
            flex-direction: row;            
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: 1,1fr;
            justify-content: center;
            justify-content: space-between;
            align-content: center;
            align-items: center;*/
            div{
                scroll-snap-align: center;
                margin: 1rem;
                width: 6.875rem;
                height: 6.875rem;
                align-items: center;
                align-content: center;
                .item{
                    width: 100%;
                    height: auto;
                    align-self: center;
                    align-content: center;
                }
            }
        }      
    } 
    .noticias{
        width: 100vw;
        height: auto;
        h2{
            width: 100%;
            height: auto;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }
        .articulos{
            width: 100%;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            min-width: fit-content;
            height: 21.875rem;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            gap: 15px;
            justify-content: space-around;
            .nota1{
                width: 30%;
                height: 18.75rem;
                position: relative;
                scroll-snap-align: center;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://www.mascotasanasydivertidas.com/wp-content/uploads/sites/12/2022/04/image5-min.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: ghostwhite;
                }
            }
            .nota2{
                width: 30%;
                height: 18.75rem;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://images.unsplash.com/photo-1627666889380-fb66b4a14993?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: ghostwhite;
                }
            }
            .nota3{
                width: 30%;
                height: 18.75rem;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: ghostwhite;
                }
            }
        }
    }
}

