.mainAlimentosP{
    width: 100%;
    height: auto;
    .tituloPagina{
        h1{
            text-align: center;
            text-decoration: none;
            color: ghostwhite;
            font-size: 1.25rem;
            font-weight: 400;
            background-color: black;
            padding: .5rem;
        }    
    }
    .contenidoAp{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .mainFiltro{
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
            padding: 0px;
            p{
                width: 12.5rem;
                padding: .5rem;
                margin-left: 1.5rem;
                background-color: black;
                color: ghostwhite;
                font-size: .75rem;
                font-weight: 400;
                text-decoration: none;    
            }
            .mainFiltroop{
                padding-left: .5rem;
                margin-left: 1.5rem;
                width: 12.5rem;
                display: flex;
                flex-direction: column;
                border: black;
                border-width: .125rem;
                border-style: solid;
                div{
                    label{
                        color: black;
                        font-size: .75rem;
                        font-weight: 400;
                        text-decoration: none;
                        padding: 0;
                    } 
                }    
            }
        }
    .alimentosPerros{
        margin: 1rem;
        margin-right: 1.5rem;
        width: 64.9375rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr); 
        grid-template-areas: 
        "alimPerro" "alimPerro" "alimPerro"  
        "alimPerro" "alimPerro" "alimPerro"  
        "alimPerro" "alimPerro" "alimPerro"  
        "alimPerro" "alimPerro" "alimPerro"; 
        gap: .5rem;
    }
    .alimPerro{
        width: 20.8125rem;
        height: 26.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 20rem;
            height: auto;
            img{
                width: 100%;
            }
        } 
        .infoProd1{
            margin: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;            
            p{
                font-size: .875rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
        }
        .infoProd2{
            margin-inline: .5rem;
            width: 20rem;
            height: 2.5625rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                font-size: .75rem;
                font-weight: 400;
            }
            select{
                border: unset;
                font-size: .75rem;
                align-self: baseline;
            }
            button{
                background-color: white;
                border: none;
            }
        }    
    }
}
}