.mainVet{
    width: 100vw;    
    section h1{
        width: 100%;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        color: ghostwhite;
        background-color: black;
        padding: .5rem;
    } 
    .afiliate{
            background-color: #D62F38;
            font-size: 1.5rem;
            font-weight: 500;
            color: ghostwhite;
            padding-top: 3rem;
            padding-bottom: 3rem;
            text-align: center;
        }
    .beneficios{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        justify-content: space-between;
        gap: 1rem;
        .beneficios1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                margin-left: 1.5rem;
                margin-right: 1.5rem;    
                h2{
                    width: 100%;
                    font-size: .875rem;
                    font-weight: 400;
                    color: ghostwhite;
                    background-color: black;
                    padding: .5rem;
                    text-align: center;
                }
                p{
                    margin-top: .5rem;
                    font-size: .75rem;
                    font-weight: 300;
                    color: black;
                    text-align: center;
                    line-height: 1.25rem;
                    padding: 1rem;
                }
            }
        }
        div{
            margin-left: 1.5rem;
            margin-right: 1.5rem;    
            h2{
                width: 100%;
                font-size: .875rem;
                font-weight: 400;
                color: ghostwhite;
                background-color: black;
                padding: .5rem;
                text-align: center;
            }
            p{
                margin-top: .5rem;
                font-size: .75rem;
                font-weight: 300;
                color: black;
                text-align: center;
                line-height: 1.25rem;
                padding: 1rem;
            }
        }
        div ul li{
            list-style: none;
            justify-content: center;
            margin-top: .5rem;
            font-size: .75rem;
            font-weight: 300;
            color: black;
            text-align: center;
            line-height: 1rem;
        }
    }
    .planes{ 
        margin-left: 1.5rem;
        margin-right: 1.5rem;    
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            width: 100%;
            font-size: .875rem;
            font-weight: 400;
            color: ghostwhite;
            background-color: black;
            padding: .5rem;
            text-align: center;
        }
        .afiliaciones{
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center; 
            justify-content: space-around; 
            .mensual{
                width: 40%;
                margin-left: 1.5rem;
                margin-right: 1.5rem;            
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                margin-left: 1.5rem;
                margin-right: 1.5rem;            
                width: 100%;
                font-size: .875rem;
                font-weight: 400;
                color: ghostwhite;
                background-color: black;
                padding: .5rem;
                text-align: center;
                }
                div{
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    justify-content: space-between;
                }
            }
            .anual{
                width: 40%;
                margin-left: 1.5rem;
                margin-right: 1.5rem;            
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                margin-left: 1.5rem;
                margin-right: 1.5rem;            
                width: 100%;
                font-size: .875rem;
                font-weight: 400;
                color: ghostwhite;
                background-color: black;
                padding: .5rem;
                text-align: center;
                }
                div{
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    justify-content: space-between;
                }
            }
            
        }
    }
    .agendaConsulta{
        width: 100%;
        background-color: #D62F38;
        font-size: 1.5rem;
        font-weight: 500;
        color: ghostwhite;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;    
    }
}


/*.mainVet{
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 6fr;
    grid-template-areas: 
    "breadcrum breadcrum breadcrum"
    "tituloPagina tituloPagina tituloPagina"
    "afiliate afiliate afiliate"
    "beneficios1 bonificaciones urgencias"
    "planes planes planes"
    "agendaConsulta agendaConsulta agendaConsulta";
    gap: 1.25rem;
}
h2{
    font-size: .875rem;
    font-weight: 400;
    color: ghostwhite;
    background-color: black;
    padding: .5rem;
    text-align: center;
}
.afiliate{
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 500;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: afiliate;
}
.beneficios1{
    margin-left: 1.5rem;
    grid-area: beneficios1;
}
.bonificaciones{
    grid-area: bonificaciones;
}
.urgencias{
    margin-right: 1.5rem;
    grid-area: urgencias;
}
.planes{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: planes;
}
.agendaConsulta{
    background-color: #D62F38;
    font-size: 1.5rem;
    font-weight: 300;
    color: ghostwhite;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    grid-area: agendaConsulta;
}

.beneficios1 p{
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.bonificaciones li{
    margin-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 1rem;
    list-style: none;
}
.urgencias p{
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes p{
    font-size: .75rem;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 1.25rem;
    padding: 1rem;
}
.planes{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;

}
.afiliaciones{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categoriasPlan{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.mensual{
    width: 25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}
.anual{
    width:25rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}*/
