
main{ 
    width: 100%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    h1{
        text-align: center;
        text-decoration: none;
        color: ghostwhite;
        font-size: 1.25rem;
        font-weight: 400;
        background-color: black;
        padding: .5rem;
    } 
    section{
        div{
            width: 100%;
            height: 25rem;
            div{
                width: 100%;
                height: auto;
                div{/*item publi1*/
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .publi1{
                        width: 100%;
                        height: auto;
                        padding: 2rem;
                        background-color: map-get($colores, colorSec );
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-content: center;
                        justify-content: space-around;
                        .infoP{
                            width: 50%;
                            height: 9.375rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            justify-content: space-around;
                            .tituloBanner{
                                font-size: 2.25rem;
                                font-weight: 300;
                            }
                            div{
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            .sutBanner{
                                display: inline;
                                font-size: 1.5rem;
                                font-weight: 300;
                                text-align: center;
                            }
                        }
                        div{
                            width: 50%;
                            img{
                                width: 50%;
                            }
                        }
                    }
                }
                div{
                    width:100%;
                    height: 25rem;
                    .publi2{
                        width: 100%;
                        height: auto;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        padding-top: 2rem;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        column-gap: 0;
                        .tituloBanner{
                            width: 100%;
                            height: auto;
                            font-size: 2.25rem;
                            font-weight: 300;
                            align-content: start;
                            padding-left: 2rem;
                        }        
                        .ferProd{
                            width: 100%;
                            height: 9.375rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-content: baseline;
                            justify-content: space-between;
                            img{
                                width: 30%;
                                height: auto;
                                margin-left: 1rem;
                                margin-right: 1rem;
                            }
                        }
                        div{
                            width: 100%;
                            height: auto;
                            display: inline-flex;
                            justify-content: end;
                            .logoFer{
                                width: 10%;
                                height: auto;
                            }
                        }
                    }
                }
                div{
                    width: 100%;
                    height: 25rem;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .publi3{
                        width: 100%;
                        height: 25rem;
                        background-color: map-get($colores, colorSec );
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        justify-content: space-around;
                        div{
                            width: 40%;
                            height: 25rem;
                            img{
                                width: 90%;
                                justify-items: baseline;
                            }
                        }
                        .infoP{
                            width: 40%;
                            height: 25rem;
                            padding: 2rem;
                            display: flex;
                            flex-direction: column;                            
                            justify-content: center;
                            align-content: center;
                            justify-content: space-around;
                            .tituloBanner{
                                font-size: 2.25rem;
                                font-weight: 300;
                            }
                            div{
                                width: 90%;
                                height: auto;
                                display: flex;
                                flex-wrap: wrap;
                                align-content: center;
                                align-items: center;
                                img{
                                    width: 50%;
                                    height: auto;
                                }
                            }
                            .sutBanner{
                                display: inline;
                                font-size: 1.5rem;
                                font-weight: 300;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }    
    .recomendados{
        width: 100%;
        height: 15.625rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        h2{
            width: 100%;
            height: auto;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }
        .productos{
            width: 100%;
            height: auto;
            margin: 2rem;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: 1,1fr;
            justify-content: center;
            justify-content: space-between;
            align-content: center;
            div{
                width: 6.875rem;
                height: 6.875rem;
                align-items: center;
                .item{
                    width: 100%;
                    height: auto;
                    align-self: center;
                    align-content: center;
                }
            }
        }      
    } 
    .noticias{
        h2{
            width: 100%;
            height: auto;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }
        .articulos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .nota1{
                width: 23.125rem;
                height: 18.75rem;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://www.mascotasanasydivertidas.com/wp-content/uploads/sites/12/2022/04/image5-min.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                }
            }
            .nota2{
                width: 23.125rem;
                height: 18.75rem;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://images.unsplash.com/photo-1627666889380-fb66b4a14993?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                    background-color: ghostwhite / 30%;
                }
            }
            .nota3{
                width: 23.125rem;
                height: 18.75rem;
                margin: .5rem;
                border-radius: 1.5625rem;
                background-image: url(https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                align-content: end;
                h3{
                    margin-inline: .5rem;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                }
            }
        }
    }
}

