@media(max-width:320px){
    /*HEADER*/
    header{
        width: 100vw;
    }
    header nav{
        width: 100vw;
        height: 4.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .menuHamburguesa{
            width: 10%;
            height: 4.25rem;
            justify-content: center;
            align-content: center;
            align-items: start;
            .menuHamburguesa a{
                width: 1.5rem;
                height: 1.5rem;
                .menuHamburguesa a img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .buscador{
        display: none;
    }
    header div{
        display: none;
    }
}
.mainIndex{
    h1{
        height: auto;
        font-size: 1rem;
        font-weight: 400;
        text-align: start;
        color: black;
        background-color: none;
    }
        #carouselIndex{
            width: 100%;
            height: auto;
            .carousel-inner{
                width: 100%;
                height: auto;
                .carousel-item{
                    width: 100%;
                    height: auto;
                    .publi1{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        .infoP{
                            padding: .5rem;
                            .tituloBanner{
                                font-size: 1rem;
                                font-weight: 400;
                                text-align: center;
                                align-self: baseline;
                            }
                            div{
                                width: 13.75rem;
                                height: auto;
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*FOOTER*/
    footer{
        width: 100vw;
        height: 9.375rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
            width: 3rem;
            height: auto;
            .isotipo{
                width: 100%;
                height: auto;
            }
        }
        section{
            display: flex;
            flex-direction: row;
            article{
                display: none;
            }
        }
    }
    

    /*MAIN PRODUCTO2*/
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
    }
    .carousel-inner{
        padding: 1em;
    }
    .card{
        margin: 0.5em;
    }
    .card-img-top{
        width: 100%;
        height: 100%;
    }

    /*MAIN ENVIOS*/

    .coordiEnvios{
        width: 100%;
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        column-gap: 1.5rem;
    }
    .coordiEnvios img{
        width: 80%;
        height: auto;
    }

    /*MAINVETERINARIA*/
    .mainVet{
        .tituloPagina h1{
            width: 100vw;
            height: auto;
            font-size: 1rem;
            font-weight: 400;
            text-align: start;
            color: black;
            background-color: none;
        } 
        .afiliate{
                background-color: #D62F38;
                font-size: 1rem;
                font-weight: 400;
                color: ghostwhite;
                padding-top: .5rem;
                padding-bottom: .5rem;
                text-align: center;
            }
    
        .beneficios{
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-content: space-between;
            gap: 1rem;    
        }
    }