@media(min-width:1440px){
    /*HEADER*/
header{
    width: 100vw;
    header nav{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menuHamburguesa{
            display: none;
        }  
        .logoL{
            width: 50%;
            height: 6.875rem;
            align-content: center;
            justify-content: start;
            .logoLineal{
                width: 50%;
                height: auto;
                padding: 1rem;
            }
        }
        .navR{
            width: 50%;
            height: 6.875rem;
            align-content: center;
            align-items: center;
            justify-content: end;
            .navR form{
                width: 80%;
                height: 6.875rem;                
            }
            .navR a{
                width: 20%;
                height: 6.875rem;
                .navR a img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
    
    /*FOOTER*/
    footer{
        height: 14.125rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .isotipo{
        margin: .5rem;
        width: 25%;
    }
    /*MAIN INDEX*/
    .productos{
        display: flex;
        height: 8rem;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: hidden;  
    }
}
