@media(min-width: 320px) and (max-width: 740px) {
    /*HEADER*/
    header{
        width: 100vw;
    }
    header nav{
        width: 100vw;
        height: 4.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .menuHamburguesa{
            width: 10%;
            height: 4.25rem;
            justify-content: center;
            align-content: center;
            align-items: start;
            .menuHamburguesa a{
                width: 1.5rem;
                height: 1.5rem;
                .menuHamburguesa a img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .logoL{
            width: 60%;
            height: 4.25rem;
            align-content: center;
            justify-content: center;
            .logoLineal{
                width: 100%; 
                height: auto;
                justify-content: center;
            }
        }
        .navR{
            width: 30%;
            height: 4.25rem;
            align-items: center;
            align-content: center;
            justify-content: end;
            .buscador{
                display: none;
            }
            .carrito{
                display: none;
            }
        }
    }
    header .menuNav{
        display: none;
    }

    /*FOOTER*/
    footer{
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .625rem;
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            a{
                width: 3rem;
                height: auto;
                .isotipo{
                    margin: .5rem;
                    width: 100%;
                }            
            }
            p{
                color: ghostwhite;
                font-size: .5625rem;
                text-align: center;
                align-self: center;
            }    
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .menu{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-wrap: wrap;
                li{
                    list-style: none;
                    .menu-item{
                        text-decoration: none;
                        font-size: .75rem;
                        color: ghostwhite;
                        display: inline-block;
                        opacity: 0.3;
                        transition: 0.3s;
                        .menu-item:hover{
                            opacity: 1;
                        }
                    }
                }
            }
            .icons{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-wrap: wrap;
                .icon-item{
                    list-style: none;
                    .icon{
                        color: ghostwhite;
                        width: 1.5rem;
                        display: inline-block;
                        margin: 0 .625rem;
                        transition: 0.5s;                
                    }
                }
            }
        }    
    }
    
    .icon:hover{
        transform: translateY(-0.625rem);
    } 
    
    /*MAIN INDEX*/
    .mainIndex section h1{
        font-size: 1rem;
        font-weight: 500;
        color: black;
        background-color: white;
        justify-content: start;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: .5rem;
        text-align: left;
    }

    .tituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .625rem;
    }
    .subTituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .375rem;
    }
    .towCanionWetlands{
        width: 25%;
        height: fit-content;
    }
    .towLogo{
        width: 50%;
        height: fit-content;
    }
    .banner{
        height: 11rem;
        justify-content: space-around;
    }


    .productos{
        display: flex;
        height: 128px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: hidden; 
        div{
            width: 6.875rem;
            height: 6.875rem;
            position: relative;
            scroll-snap-align: center;
            overflow: hidden;
            margin: .5rem;
            .item{
                width: 100%;
                height: auto;
            }
        }
    }

    /*MAIN VETERINARIA*/
    .mainVet{
        .tituloPagina h1{
            width: 100vw;
            height: auto;
            font-size: 1rem;
            font-weight: 400;
            text-align: start;
            background-color: white;
            color: black;
            padding-left: 1.5rem;
        } 
        .afiliate{
                background-color: #D62F38;
                font-size: .75rem;
                font-weight: 400;
                color: ghostwhite;
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center;
            }
        .beneficios{
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-content: space-between;
            gap: .5rem;
            .beneficios1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                div{
                    margin-left: 1rem;
                    margin-right: 1rem;    
                    h2{
                        width: 100%;
                        font-size: .75rem;
                        font-weight: 400;
                        color: ghostwhite;
                        background-color: black;
                        padding: .5rem;
                        text-align: center;
                    }
                    p{
                        margin-top: .5rem;
                        font-size: .5625rem;
                        font-weight: 300;
                        color: black;
                        text-align: center;
                        line-height: .75rem;
                    }
                }
            }
            div{
                margin-left: 1rem;
                margin-right: 1rem;    
                h2{
                    width: 100%;
                    font-size: .75rem;
                    font-weight: 400;
                    color: ghostwhite;
                    background-color: black;
                    padding: .5rem;
                    text-align: center;
                }
                p{
                    margin-top: .5rem;
                    font-size: .5625rem;
                    font-weight: 300;
                    color: black;
                    text-align: center;
                    line-height: 1rem;
                }
            }
            div ul li{
                list-style: none;
                justify-content: center;
                margin-top: .5rem;
                font-size: .5rem;
                font-weight: 300;
                color: black;
                text-align: center;
                line-height: .75rem;
            }
        }
        .planes{ 
            margin-left: 1rem;
            margin-right: 1rem;    
            h2{
                width: 100%;
                font-size: .75rem;
                font-weight: 400;
                color: ghostwhite;
                background-color: black;
                padding: .5rem;
                text-align: center;
            }
            .afiliaciones{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem;
                .mensual{
                    width: 80%;
                    justify-content: space-around;
                    h3{
                        font-size: .75rem;
                    }
                    p{
                        font-size: .5625rem;
                    }
                }
                .anual{
                    width: 80%;
                    justify-content: space-around;
                    h3{
                        font-size: .75rem;
                    }
                    p{
                        font-size: .5625rem;
                    }
                }
            }        
        }
        .agendaConsulta{
            font-size: 1rem;
            font-weight: 300;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }    
    }
}

/*MAIN ENVIOS*/
.mainEnvios{
    .tituloPagina{
        h1{
            width: 100vw;
            height: auto;
            font-size: 1rem;
            font-weight: 400;
            text-align: start;
            background-color: white;
            color: black;
            padding-left: 1.5rem;
        }
    }  
    .coordiEnvios{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
