@media(min-width:740px) and (max-width: 1440px){
    /*HEADER*/
    header{
        width: 100vw;
    }
    header nav{
        width: 100vw;
        height: 6.875rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menuHamburguesa{
            display: none;
        }
        .logoL{
            width: 30%;
            height: 6.875rem;
            align-content: center;
            justify-content: start;
            .logoLineal{
                width: 100%;
                height: auto;
                padding: 1rem;
            }
        }
        .navR{
            width: 70%;
            height: 6.875rem;
            align-content: center;
            align-items: center;
            justify-content: end;
            .navR form{
                width: 17.875rem;
                height: 6.875rem;
                justify-content: start;
                align-content: center;
                }
        }
    }
}    
    /*FOOTER*/
    footer{
        height: 14.125rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .isotipo{
        margin: .5rem;
        width: 25%;
    }
    .art{
        margin: .5rem;
    }
    .art p{
        display: none;
    }

    /*MAIN INDEX*/
    .tituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .875rem;
    }
    .subTituloBanner{
        font-family: "Roboto", sans-serif;
        font-size: .375rem;
    }
    .towCanionWetlands{
        width: 25%;
        height: auto;
    }
    .towLogo{
        width: 50%;
        height: fit-content;
    }
    .banner{
        height: 11rem;
        justify-content: space-around;
        justify-content: center;
    }

    .productos{
        display: flex;
        height: 8rem;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;   
        overflow: hidden;  
    }
    .item{
        overflow: hidden;
        margin: .5rem;
    }

    /*MAIN ENVIOS*/
    .mainEnvios{
        width: 100vw;
        .tituloPagina{
            h1{
                width: 100vw;
                height: auto;
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                color: ghostwhite;
                background-color: black;
            }
        }  
        .coordiEnvios{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    
