footer{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    div{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        a{
            width: 3rem;
            height: auto;
            .isotipo{
                margin: 1rem;
                width: 100%;
            }            
        }
        p{
            color: ghostwhite;
            font-size: .75rem;
            text-align: center;
            align-self: center;
        }    
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: .3125rem .625rem;
            flex-wrap: wrap;
            li{
                list-style: none;
                .menu-item{
                    text-decoration: none;
                    font-size: 1rem;
                    color: ghostwhite;
                    display: inline-block;
                    margin: .3125rem .625rem;
                    opacity: 0.3;
                    transition: 0.3s;
                    .menu-item:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: .625rem .3125rem;
            flex-wrap: wrap;
            .icon-item{
                list-style: none;
                .icon{
                    color: ghostwhite;
                    width: 2rem;
                    display: inline-block;
                    margin: 0 .625rem;
                    transition: 0.5s;                
                }
            }
        }
    }    
}


.icon:hover{
    transform: translateY(-0.625rem);
}

